qemu-7.0.0/GNUmakefile
qemu-7.0.0/build/*
qemu-7.0.0/meson/*
qemu-7.0.0/dtc/*
qemu-7.0.0/.git_bak
qemu-7.0.0/tests/fp/berkeley-softfloat-3/
qemu-7.0.0/tests/fp/berkeley-testfloat-3/
qemu-7.0.0/ui/keycodemapdb/
qemu-7.0.0/slirp/
*.pyc
.sdk
.stgit-*
.git-submodule-status
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
/output/*

